/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.css';

.root {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: var(--max-content-width);
}

.news {
    padding: 0;
}

.newsItem {
    list-style-type: none;
    padding-bottom: 6px;
}

.newsTitle {
    font-size: 1.125em;
}

.newsTitle,
.newsDesc {
    display: block;
}
