/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';


:root {
    --brand-color: #61dafb;
}

.root {
    background: #373277;
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: var(--max-content-width);
}

.brand {
    color: color(var(--brand-color) lightness(+10%));
    text-decoration: none;
    font-size: 1.75em; /* ~28px */
}

.brandTxt {
    margin-left: 10px;
}

.nav {
    float: right;
    margin-top: 6px;
}

.banner {
    text-align: center;
}

.bannerTitle {
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
}

.bannerDesc {
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
    margin: 0;
}

:global(.navbar-brand) img {
    display: inline-block;
    height: 26px;
}

:global(.navbar-top-links) {
    margin-right: 0;

    & li {
        display: inline-block;

        &:last-child {
          margin-right: 15px;
        }

        & a {
            padding: 15px;
            min-height: 50px;
        }

    }

    & :global(.dropdown-menu) {
        & li {
            display: block;

            &:last-child {
                margin-right: 0;
            }

            & a {
                padding: 3px 20px;
                min-height: 0;

                & div {
                    white-space: normal;
                }
            }
        }
    }

    & :global(.dropdown-messages) {
        margin-left: 5px;
    }

    & :global(.dropdown-tasks) {
        margin-left: -59px;
    }

    & :global(.dropdown-alerts) {
        margin-left: -123px;
    }

    & :global(.dropdown-users) {
        right: 0;
        left: auto;
    }
}

/*.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}*/



/*.navbar-brand img {
    display: inline-block;
    height: 26px;
}*/
