/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
@import '../../components/variables.css';

.root {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 380px;
}

.lead {
    font-size: 1.25em;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    font-weight: 700;
}

.input {
    display: block;
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    height: 46px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #616161;
    font-size: 18px;
    line-height: 1.3333333;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input:focus {
    border-color: #0074c2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 116, 194, 0.6);
}

.button {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 16px;
    width: 100%;
    outline: 0;
    border: 1px solid #373277;
    border-radius: 0;
    background: #373277;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3333333;
    cursor: pointer;
}

.button:hover {
    background: rgba(54, 50, 119, 0.8);
}

.button:focus {
    border-color: #0074c2;
    box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.facebook {
    border-color: #3b5998;
    background: #3b5998;
    composes: button;
}

.facebook:hover {
    background: #2d4373;
}

.google {
    border-color: #dd4b39;
    background: #dd4b39;
    composes: button;
}

.google:hover {
    background: #c23321;
}

.twitter {
    border-color: #55acee;
    background: #55acee;
    composes: button;
}

.twitter:hover {
    background: #2795e9;
}

.icon {
    display: inline-block;
    margin: -2px 12px -2px 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: currentColor;
}

.lineThrough {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    color: #757575;
    text-align: center;
    font-size: 80%;
}

.lineThrough::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin-top: -5px;
    margin-left: -20px;
    width: 40px;
    height: 10px;
    background-color: #fff;
    content: '';
}

.lineThrough::after {
    position: absolute;
    top: 49%;
    z-index: -2;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    content: '';
}
